<div class="container">
  <div class="container serv">
    <h3><span>Почему</span> <span class="first_half_logo">My</span><span>Univer</span>?</h3>
    </br>
    <p><span style="font-weight: bold;">Наша миссия</span> - помочь каждому открыть для себя новые возможности этого мира, получить качественное интересное и современное образование.</p>
    </br>
    <p><span style="font-weight: bold;">Наши принципы</span> - это индивидуальный подхол к каждому клиенту, ориентированность на ваши персональные потребности и предпочтения, высокий уровень профессионализма и организации обучения за рубежем на всех этапах: от первой встречи в нашем офисе до самого последнего дня учебной программы.</p>
    <row>
      <div class="col-md-4 list_services">
        <p style="margin-bottom: 0px;"><small>1</small></p>
        </br>
        <p class="world"><%= image_tag("world.png") %></p>
        </br>
        <h5 style="margin: 0px;">ПОДБОР УНИВЕРСИТЕТА</h5>
        </br>
        <p>Профессиональная консультация по вопросам выбора университета и специальности</p>
      </div>
      <div class="col-md-4 list_services">
        <p style="margin-bottom: 0px;"><small>2</small></p>
        </br>
        <p class="welcome"><%= image_tag("welcome.png") %></p>
        </br>
        <h5 style="margin-top: 30px;margin-bottom: 0px;">ОФИЦИАЛЬНОЕ ПРИГЛАШЕНИЕ</h5>
        </br>
        <p>Составление необходимых документов и подача от имени абитуриента</p>
      </div>
      <div class="col-md-4 list_services">
        <p style="margin-bottom: 0px;"><small>3</small></p>
        </br>
        <p class="plane"><%= image_tag("airplane.png") %></p>
        </br>
        <h5 style="margin-top: 34px;margin-bottom: 0px;">ПОДБОР УНИВЕРСИТЕТА</h5>
        </br>
        <p>Бесплатный трансфер из аэропорта до дверей общежития. Экскурсия по городу</p>
      </div>
    </row>
    <row>
      <div class="col-md-4 list_services">
        <p style="margin-bottom: 0px;"><small>4</small></p>
        </br>
        <p><%= image_tag("house.png") %></p>
        </br>
        <h5 style="margin: 0px;">ЗАСЕЛЕНИЕ В ОБЩЕЖИТИЕ</h5>
        </br>
        <p>Оформление временного пребывания и годовой регистрации</p>
      </div>
      <div class="col-md-4 list_services">
        <p style="margin-bottom: 0px;"><small>5</small></p>
        </br>
        <p><%= image_tag("med.png") %></p>
        </br>
        <h5 style="margin-top: 6px;margin-bottom: 0px;">МЕДИЦИНСКИЙ ОСМОТР</h5>
        </br>
        <p>Сопровождение при медицинском осмотре. Оплата медицинского осмотра</p>
      </div>
      <div class="col-md-4 list_services">
        <p style="margin-bottom: 0px;"><small>6</small></p>
        </br>
        <p><%= image_tag("foto.png") %></p>
        </br>
        <h5 style="margin-top: 17px;margin-bottom: 0px;">ПОДБОР УНИВЕРСИТЕТА</h5>
        </br>
        <p>Бесплатный трансфер из аэропорта до дверей общежития. Экскурсия по городу</p>
      </div>
    </row>
    <row>
      <div class=" col-md-2 "> </div>
      <div class="col-md-4 list_services">
        <p style="margin-bottom: 0px;"><small>7</small></p>
        </br>
        <p><%= image_tag("hat.png") %></p>
        </br>
        <h5 style="margin-top: 6px;margin-bottom: 0px;">РЕГИСТРАЦИЯ В УНИВЕРСИТЕТЕ</h5>
        </br>
        <p>Подача документов и регистрация от имени абитуриента в университете</p>
      </div>
      <div class="col-md-4 list_services">
        <p style="margin-bottom: 0px;"><small>8</small></p>
        </br>
        <p><%= image_tag("circle.png") %></p>
        </br>
        <h5 style="margin: 0px;">ПОМОЩЬ В УЧЕБЕ</h5>
        </br>
        <p>Помощь в подготовке к ступительным экзаменам. Полное сопровождение в процессе обучения</p>
      </div>
    </row>
  </div>
  <div class="container" style="margin-top: 30px;margin-bottom: 30px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div style="text-align: center;color: #424c58;">
          <p>Уже болле 4 лет иностранные граждане - и дети, и взрослые - получают кучественное зарубежное образование с помощью нашей компании. Оглядываясь назад, понимаешь, что это стало возможным, прежде всего пототу, что нам доверяли и доверяют. Для нас клиенты - это не "целевая аудитория", а живые люди. Слогаемые нашего успеха - не технологии и конкуренция, а умение выстроить с клиентом доверительные отношения. Сколько бы не пришлось уделить времени и как бы ни были порой сложны переговоры, мы готовы удовлетворить все запросы, связанные с обучением в Республике Беларусь.</p>
      </div>
    </div>
  </div>
</div>