<section class="bg-primary" id="about">
    <div class="container">
        <hr class="hr-blue">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading primaty-h2">Наши партнеры</h2>
                <p class="descript_services">Мы сотрудничаем практически со <strong>всеми университетами Республики Беларусь</strong> в рамках партнерских соглашений. Вот самые престижные из них:</p>
            </div>
        </div>
    </div>
    <div class="container text-center" style="padding-top: 30px;">
        <div class="col-md-2 vcenter wid">
        <%= image_tag('tild3733-3661-4162-b831-303336666333__logo_eng3jpg', class:"center-block img_univers black_white") %>
        </div>
        <div class="col-md-2 vcenter text-center wid">
        <%= image_tag('tild3963-6431-4232-b837-613138333432__bntulogo_green_0',class:"center-block img_univers black_white") %>
        </div>
        <div class="col-md-2 vcenter text-center wid">
        <%= image_tag('tild3830-3564-4337-b832-353061623230__653933', class:"center-block img_univers black_white") %>
        </div>
        <div class="col-md-2 vcenter text-center wid">
        <%= image_tag('tild6437-3463-4566-b239-323262393737__logo', class:"center-block img_univers black_white")%>
        </div>
        <div class="col-md-2 vcenter text-center wid">
        <%= image_tag('tild6534-3231-4030-b538-623265346565__ukola', class:"center-block img_univers black_white") %>
        </div>
        <div class="col-md-2 vcenter text-center wid">
        <%= image_tag('tild3835-3366-4836-b339-336261643534__1360132466_bguir', class:"center-block img_univers black_white") %>
        </div>
    </div>
    <div class="container text-center" style="width: 100%;margin-top: 50px;">
        <button class="btn btn_open_univers" onclick = 'open_sertificates()'>Посмотреть сертификаты и соглашения с университетами</button>
    </div>
    <div id="sertifiacts" class="container hide" style="margin-top: 30px;">
        <div class="container">
        <div class="col-md-6">
            <%= image_tag('tild3839-3539-4530-b330-333539333233__6ouc7i69cb0',class:'thumbnail', style:'width: 100%;') %>
        </div>
        <div class="col-md-6">
            <%= image_tag('IMG_1349.JPG',class:'thumbnail', style:'width: 100%;') %>
        </div>
        </div>
        <div class="container">
        <div class="col-md-6">
            <%= image_tag('IMG_1900.JPG',class:'thumbnail', style:'width: 100%;') %>
        </div>
        <div class="col-md-6">
            <%= image_tag('IMG_0909.jpg',class:'thumbnail', style:'width: 100%;') %>
        </div>
        </div>
    </div>
</section>

