<section id="services" class="services">
    <div class="container">
        <hr class="hr-blue">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading primaty-h2">Наши услуги</h2>
                <p class="descript_services">Мы постарались описать основные виды наших услуг поэтапно в процессе их оказания</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild6562-3562-4561-a565-303831376539__magnifier.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">1. ВЫБОР УНИВЕРСИТЕТА</h3>
                    <p class="text-muted serv-desc">Мы оказываем профессиональную консультацию по вопросам выбора университета, факультета и будущей специальности с учетом Ваших интересов и трендов в востребованных профессиях.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild3233-6466-4232-a635-336562616166__newemailinterfacesymbolofblackclosedenvelope.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">2. ОФОРМЛЕНИЕ ПРИГЛАШЕНИЯ</h3>
                    <p class="text-muted serv-desc">Подготавливаем документы и подаем их в университет от имени абитуриента. После чего мы оформляем приглашение от ВУЗа для получения визы и въезда в Беларусь.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild3132-3866-4231-b834-326261306665__airtransport.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">3. ВСТРЕЧА В АЭРОПОРТУ</h3>
                    <p class="text-muted serv-desc">Тепло встречаем абитуриента в аэропорту. Выдаем sim карты с пополненным балансом и мобильным интернетом для быстрой связи с родителями. Организовываем трансфер на комфортабельном микроавтобусе и угощаем в кафе, уставших с дороги ребят.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild3935-3136-4536-a135-633730376266__house1.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">4. ЗНАКОМСТВО С ГОРОДОМ</h3>
                    <p class="text-muted serv-desc">Проводим интересную экскурсию, знакомим с городом и инфраструктурой: корпусы ВУЗа, банки, магазины, аптеки. А в случае, если Вы прилетели немного раньше, чем можно заселиться в общежитие, мы предоставляем современную и уютную квартиру.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild3738-3839-4537-a139-386536333233__savefilebutton.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">5. ПОДАЧА ДОКУМЕНТОВ В ВУЗ</h3>
                    <p class="text-muted serv-desc">Подаем документы в приемную комиссию от имени абитуриента и заполняем заявления, анкеты, договоры и другие необходимые бумаги для приема в университет.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild3431-3865-4534-a664-663335353361__caduceus.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">6. ОФОРМЛЕНИЕ МЕДИЦИНСКОЙ СПРАВКИ</h3>
                    <p class="text-muted serv-desc">Помимо прочих документов о въезде и временной регистрации для учебы нужно пройти медкомиссию в белорусской поликлинике. Оформление медицинской справки у нас происходит отлажено, быстро и всегда без проблем.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild6363-6333-4931-a366-376338373334__house.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">7. ЗАСЕЛЕНИЕ В ОБЩЕЖИТИЕ</h3>
                    <p class="text-muted serv-desc">Занимаемся процессом заселения в общежитие. Если Вы планируете снимать квартиру, тогда мы поможем найти хороший вариант по подходящей цене и условиям.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild3433-3536-4233-b665-616563626165__internationaldelivery.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">8. МИГРАЦИОННАЯ ПОДДЕРЖКА</h3>
                    <p class="text-muted serv-desc">Вскоре после приезда мы оформляем временное пребывание и годовую регистрацию и берем на себя перевод и нотариальное заверение паспорта.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild6138-3763-4063-b263-663865623461__diplomaofverticaldesign.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">9. ПРОХОЖДЕНИЕ ЭКЗАМЕНОВ</h3>
                    <p class="text-muted serv-desc">Помогаем абитуриенту подготовиться и успешно пройти вступительное испытание по русскому языку. 99% наших студентов проходят его без труда.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild3531-3439-4966-a636-303038366339__graduationhatanddiploma.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">10. ПОМОЩЬ В УЧЕБЕ </h3>
                    <p class="text-muted serv-desc">Во время учебы мы всегда помогаем со сдачей всех сессий, курсовых и контролируем успеваемость. По партнерским соглашениям университеты нам сообщают даже о посещении занятий. Таким образом, иностранный студент всегда находится под нашим присмотром.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild6633-6135-4039-b462-633434633939__24hoursphoneservice.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">11. ПОДДЕРЖКА 24 ЧАСА В СУТКИ</h3>
                    <p class="text-muted serv-desc">Наши студенты в любых жизненных ситуациях могут рассчитывать на нашу оперативную помощь и круглосуточную поддержку по всем вопросам от выбора досуга до юридической консультации.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box width_service">
                    <%= image_tag("tild3433-6566-4138-b864-366339666535__verificationofdeliverylistclipboardsymbol.png", class:"fa fa-4x wow bounceIn text-primary") %>
                    <h3 class="serv_header">12. ПОДБОР ПРЕПОДАВАТЕЛЕЙ</h3>
                    <p class="text-muted serv-desc">Если студенту требуется помощь с некоторыми предметами по учебе, мы находим квалифицированных преподавателей или подбираем необходимые курсы подготовки.</p>
                </div>
            </div>
        </div>
    </div>
</section>

