<%= render 'layouts/header' %>
<%= render 'header' %>
<%= render 'bg_primary' %>
<div class="container">
  <h3>Открыть личный кабинет</h3>
  <%= link_to "Кабинет", signin_path %>
  </div>
<%= render 'layouts/footer' %>
