  <div class="wrapper">
    <div class="form-signin">   
    <button type="button" class="close" style="padding-top: 5px;" data-dismiss="modal" aria-hidden="true" onClick="closeModalWindow()">×</button>    
      <h2 class="form-signin-heading text-center">Получить консультацию</h2>
      <p class="text-center">Оставьте свои контактные данные, чтобы мы могли связаться с Вами</p>
          <% if flash[:bid_error] %>
            <p class="error text-center" style="color: rgb(129, 207, 58);"><%= flash[:bid_error] %></p>
          <% end %>
          <% if @university != nil %>
            <p style="color: #23599b;text-align: center;"><%= @university.name %></p>
          <% end %>
        <%= bootstrap_form_for(@bid,:url => bids_path, remote: :true, class:'form-signin') do |f| %>

          <div class="form-group modal-form"><%= f.text_field :name , hide_label: true, placeholder: "Имя, обязательно"%></div>


          <div class="form-group modal-form"><%= f.text_field :phone, hide_label: true, placeholder: "Телефон, обязательно" %></div>


          <div class="form-group modal-form"><%= f.email_field :mail , hide_label: true, placeholder: "Email, обязательно" %></div>


          <div class="form-group modal-form"><%= f.text_area :comment, hide_label: true, placeholder: "Комментарий" %></div>  
          <% if @university != nil %>
            <%= hidden_field_tag(:university, @university.id) %>
          <% end %>
          <%= f.submit "ОТПРАВИТЬ", class:"btn btn-lg btn-primary btn-block", data: { disable_with: "Пожалуйста, подождите..." } %>
        <% end %> 
    </div>
  </div>

