<div class="col-md-1" ></div>
<div class="col-md-10">
  <% @news.each do |now| %>
  <div class="container news">
    <div class="col-md-8" style="padding-top: 20px;">
      <h4 style="color: black;"><%= now.name %></h4>
      <p class="news_decript"><%= Russian::strftime(now.created_at.to_time,'%e %b %Y') %></p>
      <p class="news_decript"><%= now.short_description %></p>
    </div>
    <div class="col-md-4" style="text-align: center;padding-top: 20px;padding-bottom: 20px;">
      <%= link_to image_tag(now.news_image.normal.url, size:"210x160"), "#" %>
    </div>
  </div>
  <% end %>
  <p><%= will_paginate @news , :previous_label => "", :next_label => "", style:"margin-left: 30px;color: #363636;font-size: medium;"%></p>
</div>
<div class="col-md-1"></div>