<% provide(:title, @new.name) %>

<div class="container header_image_news">
  <div class="container" style="padding-top: 200px;">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h1 class="secondary-font"><%= @new.name %></h1>
          <p class="secondary-font"><%= @new.short_description %></p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container news_page" style="width: 100%;background-color: #fff;padding-top: 20px;">
  <div class="col-md-offset-3">
    <div class="col-md-9">
      <span style="color: #343434;text-align: justify;"><%= simple_format @new.description %></span>
    </div>
  </div>
</div>
<div class="container" style="width: 100%;">
  <div class="col-md-offset-3">
    <div class="col-md-9">
      <span style="color: gray;">Читайте также:</span>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 10px;margin-bottom: 60px;width: 100%;" >
  <div class="col-md-offset-3">
    <div class="col-md-9">
    <% @news.each do |now| %>
      <div class="container news news-mini">
        <div class="col-md-8" style="padding-top: 20px;">
          <h4 style="color: black;"><%= link_to now.name, news_path(now.id) %></h4>
          <p class="news_decript"><%= Russian::strftime(now.created_at.to_time,'%e %b %Y') %></p>
        </div>
        <div class="col-md-4" style="text-align: center;padding-top: 20px;padding-bottom: 20px;">
          <%= link_to image_tag(now.news_image.normal.url, size:"160x110"), news_path(now.id) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>