<% magistracies = magis_of_departament(depart_id) %>
<% if magistracies != nil %>
<div id="magis_<%= depart_id %>" class="container cont block_class magis">
  <div class="table table-bordered table-striped table-hover">
    <table class="table_specialties">
      <thead class="head_table">
        <tr class="tr_head">
          <th class="padding_spec">Специальность</th>
          <th class="padding_spec">Профессия</th>
          <th class="padding_spec">Форма обучения</th>
          <th class="padding_spec table_align">Срок, лет</th>
          <th class="padding_spec table_align">Цена, $</th>
          <th class="padding_spec table_align">Оставить заявку</th>
        </tr>
      </thead>
      <tbody>

        
        <% magistracies.each do |magistracy| %>

        <tr>
          <td class="padding_spec td_height"><%= magistracy.name %></td>
          <td class="padding_spec td_height"><%= magistracy.profession %></td>
          <td class="padding_spec td_height">

            <% if magistracy.ochno == true  %>

            <p>Очно</p>

            <% end %>
            <% if magistracy.zaochno == true  %>

            <p>Заочно</p>

            <% end %>
          </td>
          <td class="padding_spec td_height td_align">
            <p><%= magistracy.training_period %></p>
            <p><%= magistracy.training_period_zaochno %></p>
          </td>
          <td class="padding_spec td_height">

            <% if magistracy.ochno == true %>

              <p class="td_align"><%= magistracy.ochno_price %></p>

            <% end %>

            <% if magistracy.ochno == true %>

              <p class="td_align"><%= magistracy.zaochno_price %></p>

            <% end %>

          </td>
          <td class="padding_spec td_height td_align"><%= link_to image_tag("request.png", size:"45x35"), request_path(magistracy: magistracy.id, departament: depart_request_magis(magistracy.id), university: university_request_magis(magistracy.id)), {class:"feedback",:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></td>
        </tr>

        <% end %>

      </tbody>
    </table>
  </div>
</div>
<% end %>