<% specialties = spec_of_departament(depart_id) %>
<% if specialties != nil %>

<div id="spec_<%= depart_id %>" class="container hide block_class spec">
  <div class="table table-bordered table-striped table-hover">
    <table class="table_specialties">
      <thead class="head_table">
        <tr class="tr_head">
          <th class="padding_spec">Специальность</th>
          <th class="padding_spec">Профессия</th>
          <th class="padding_spec">Форма обучения</th>
          <th class="padding_spec table_align" >Срок, лет</th>
          <th class="padding_spec table_align" style="padding-right: 15px;">Цена, $</th>
        </tr>
      </thead>
      <tbody>


        <% specialties.each do |specialty| %>

        <tr>
          <td class="padding_spec td_height"><%= specialty.name %></td>
          <td class="padding_spec td_height"><%= specialty.profession %></td>
          <td class="padding_spec td_height">

            <% if specialty.ochno == true  %>

            <p>Очно</p>

            <% end %>
            <% if specialty.zaochno == true  %>

            <p>Заочно</p>

            <% end %>
          </td>
          <td class="padding_spec td_height td_align">
            <p><%= specialty.training_period %></p>
            <p><%= specialty.training_period_zaochno %></p>
          </td>
          <td class="padding_spec td_height">

          <% if specialty.ochno == true %>

            <p class="td_align"><%= specialty.ochno_price %></p>

          <% end %>
          <% if specialty.ochno == true %>

            <p class="td_align"><%= specialty.zaochno_price %></p>

          <% end %>

          </td>

        <% end %>
        
      </tbody>
    </table>
  </div>
</div>

<% end %>