<div class="table table-striped table-hover"  style="width: 100%;">
  <table style="width: 100%;">
    <thead style="width: 100%;">
      <tr>
        <th>Специальность</th>
        <th>Профессия</th>
        <th>Форма обучения</th>
        <th>Срок, лет</th>
        <th>Цена, $</th>
      </tr>
    </thead>
    <tbody>
      <% @specialties.each do |specialty| %>
      <tr>
        <td><%= specialty.name %></td>
        <td><%= specialty.profession %></td>
        <td>
          <% if specialty.ochno == true  %>
          <p>Очно</p>
          <% end %>
          <% if specialty.zaochno == true  %>
          <p>Заочно</p>
          <% end %>
        </td>
        <td><%= specialty.training_period %></td>
        <td>
        <% if specialty.ochno == true %>
          <p><%= specialty.ochno_price %></p>
        <% end %>
        <% if specialty.ochno == true %>
          <p><%= specialty.zaochno_price %></p>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>