    <div class="container" style="background-color: #fff;width: 100%;height:300px;padding: 30px 25px;">
      <p>ГОРОД</p>
      
        <div>
          <%= form_for :universities, method: :get, html: { class: "" } do |f| %>
              <div class="form-group">
                <%= f.select(:cities, City.all.collect {|p| [ p.name, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>
              </div>
              <%= f.submit "View", class: "btn btn-success" %>

          <% end %>

        </div>
    <%= form_for(:magistracy,method: :get, :remote => true) do |f| %>
      <%= f.check_box :magistracy, :onchange => '$(this.form).submit();' %>
      <%= f.label :Магистратура %>
    <% end %>
    <%= form_for(:ochno,method: :get, :remote => true) do |f| %>
      <%= f.check_box :ochno, :onchange => '$(this.form).submit();' %>
      <%= f.label :Очно %>
    <% end %>
    </div>

