    <% @univers.each do |univer| %>

      <div class="container cont_univer">

        <div class="col-md-4 ava_univer">
          <%= link_to image_tag(univer.image.url, style:'height: 190px; width: 251px;object-fit: cover;'), university_path(univer) %>
        </div>

        <div class="col-md-8 description_univer">

          <p class="univer_name">
            <%= link_to univer.name.mb_chars.upcase!, university_path(univer), class:"univer_name_link" %>
          </p>

          <p class="univer_short_name"><%= univer.short_name %></p>
          <hr style="margin-top: 10px;">

          <% if univer.preparatory_department == true %>

          <p class="images_univers">
            <span class="mini_image"><%= image_tag("green.png", size:"10x10") %></span>
            <span class="preparatory_department">Подготовительное отделение</span>
          </p>

          <% end %>
          <% if univer.hostel == true %>

          <p class="images_univers">
            <span class="mini_image"><%= image_tag("blue.jpg", size:"10x10") %></span>
            <span class="preparatory_department">Общежитие</span>
          </p>

          <% end %>
          <% if univer.magistracy == true %>

          <p class="images_univers">
            <span class="mini_image"><%= image_tag("purpure.png", size:"10x10") %></span>
            <span class="preparatory_department">Магистратура</span>
          </p>

          <% end %>

          <hr style="margin-top: 15px;">

          <row>

            <div class="col-xs-5" style="padding-left: 0px;">
              <p class="details_silver">СПЕЦИАЛЬНОСТЕЙ</p>
              <p><%= count_specialties_univer(univer.id) %></p>
            </div>
            <div class="col-xs-3">
              <p class="details_silver">ОЧНО, $</p>
              <p><%= univer_cost_ochno(univer.id) %></p>
            </div>
            <div class="col-xs-4">
              <p class="details_silver">ЗАОЧНО, $</p>
              <p><%= univer_cost_zaochno(univer.id) %></p>
            </div>
            
          </row>
        </div>
      </div>

    <% end %>

<p>
  <%= will_paginate @univers , :previous_label => "", :next_label => "", class:"paginate_univers"%>
</p>
