<% provide(:title, 'Каталог университетов Беларусии') %>

<div class="container header_image_all">
  <div class="container cont_image">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h1 class="secondary-font">Высшее образование в Беларуси</h1>
          <p class="secondary-font">Куда вы хотите поступить?</p>
          <section class="search-bar">

            <form>

            <%= form_tag('/universities', method: 'get', remote: true ) do %>

              <div class="input-group">
                <div id="text_search" class="cell">
                  <%= text_field_tag(:search,)%>
                </div>
                <div class="button_right">
                  <%= submit_tag "Найти", :name => nil , class:"button_search" %>
                </div>
              </div>

            <% end %>

            </form>

          </section>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container cont_filtr">

    <div id="text-filtres" class="col-xs-4 col-md-3">
      <p class="text-filtres">Фильтры</p>
    </div>

    <div id="count_univers" class="col-xs-8 col-md-9">
      <p class="count_univers">Университетов найдено: <span id='count_univers_number'><%= @univers.count %></span></p>
    </div>
  </div>

  <div class="container">
    <div class="col-md-3 col-xs-4">
      <%= render "universities/filtres" %>
    </div>
    <div class="col-md-9 col-xs-8">
      <div class="univers">
        <%= render "universities/universities_list" %>
      </div>
      <p><%= will_paginate @univers , :previous_label => "", :next_label => "", class:"paginate_univers"%>
      </p>
    </div>
  </div>
</div>