<% provide(:title, @univer.name) %>

<div class="container header_image_show">
  <div class="container cont_image">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-8 col-md-offset-2">

          <h1 class="secondary-font"><%= @univer.name %></h1>
          <p class="secondary-font"><%= @univer.short_name %></p>
          <div class="button-group">
            <p style="margin-top: 30px;"><%= link_to image_tag("feedback_footer.png"), request_path(university: @univer.id) , {class:"feedback",:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="container cont_univer_show">
    <div class="container" style="width: 100%;">

      <div class="col-md-3 show_univer_ava">
        <%= image_tag(@univer.image.url, style:'height: 190px; width: 251px;object-fit: cover;') %>
      </div>

      <div class="col-md-6 univer_text">
        <%= @univer.description %>
      </div>

      <div class="col-md-3">
        <p class="p_city">
          <span class="city"><%= @city.name %></span>
        </p>
        <p class="address_univer" >
          <%= @univer.address %>
        </p>
              
        <% if @univer.preparatory_department == true %>

        <p class="images_univers">
          <span class="mini_image"><%= image_tag("green.png", size:"10x10") %></span>
          <span class="preparatory_department">Подготовительное отделение</span>
        </p>

        <% end %>
        <% if @univer.hostel == true %>

        <p class="images_univers">
          <span class="mini_image"><%= image_tag("blue.jpg", size:"10x10") %></span>
          <span class="preparatory_department">Общежитие</span>
        </p>
              
        <% end %>
        <% if @univer.magistracy == true %>

        <p class="images_univers" >
          <span class="mini_image"><%= image_tag("purpure.png", size:"10x10") %></span>
          <span class="preparatory_department">Магистратура</span>
        </p>

        <% end %>

        <p class="prep_depart" >
          Подготовительное отделение
        </p>
        <p>
          Цена: <span class="green_price">от <%=  @univer.initial_cost %> $</span>
        </p>
      </div>

    </div>

    <hr>

    <div class="container head">
      <h3 class="select">Ступени образования</h3>
          
      <% if @univer.magistracy == true %>

        <button id="button_height" class="btn btn-primary btn-lg left_bottom large-btn_open" onclick="SetActionHeight()">Высшее</button><button id="button_magis" class="btn btn-primary btn-lg large-btn right_bottom" onclick="SetActionMagis()">Магистратура</button>

      <% else%>

        <button id="button_height" class="btn btn-primary btn-lg large-btn_open">Высшее</button>

      <% end %>

    </div>

    <%= render "universities/height", :departaments => @departaments %>
    <%= render "universities/magis", :departaments => @departaments %>

  </div>
</div>