<div class="container" style="padding: 50px;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <% flash.each do |key, value| %>
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= value %></strong></div>
      <% end %>
    <legend><%= @univer.name %></legend>
    <p><%= @univer.short_name %></p>
    <% if @univer.initial_cost != nil %>
      <p style="color: green;"><%= @univer.initial_cost %>$</p>
    <% end %>
    <hr>
    <div><%= link_to "Back", universities_path , style:"padding-right: 30px;"%><%= link_to "Edit", edit_university_path(@univer.id) %></div>
  </div>
  <div class="col-md-3"></div>
</div>