<div class="row footer_top"> </div>
<div class="row footer">
  <div class="container foot_main">

    <div class="col-xs-3 footer_columns">
      <p style="margin-top:5px;;margin-bottom:15px;"><span class="logo_footer_red">My</span><span class="logo_footer_white">Univer</span></p>
      <p>Помощь с поступлением в высшие учебные заведения Беларуси</p>
      <span><%= link_to image_tag("vk.png"), "https://vk.com/myuniver_by", class:"social", target:"_blank"%></span>
      <span><%= link_to image_tag("fb.png"), "https://www.facebook.com/myuniverby/", class:"social", target:"_blank"%></span>
      <span><%= link_to image_tag("inst.png"), "https://www.instagram.com/myuniver_by/", class:"social", target:"_blank"%></span>
    </div>

    <div class="col-xs-3 footer_columns"> 
      <p class="lead footer_apper">АБИТУРИЕНТУ</p>
      <p><%= link_to "Главная", root_path %></p>
      <p><%= link_to "Университеты", universities_path %></p>
      <p><%= link_to "Новости", all_news_path %></p>
    </div>

    <div class="col-xs-3 footer_columns">
      <p class="lead footer_apper">СВЯЖИТЕСЬ С НАМИ</p>
      <p><small><%= image_tag("mail.png") %></small><small class="communication">@myuniver</small></p>
      <p><span><%= image_tag("scype.png") %></span><small class="communication_tab">myuniver.by</small></p>
      <p><span><%= image_tag("mail_1.png") %></span><small class="communication_tab">info.myuniver@gmail.com</small></p>
    </div>

    <div class="col-xs-3 footer_columns">
      <p class="lead footer_apper request_text">БЕСПЛАТНАЯ ЗАЯВКА</p>
      <p class="request"><%= link_to image_tag("feedback_footer.png"), request_path , {class:"feedback",:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></p>
    </div>
  </div>
  
  <div class="container info">
    <hr style="color: #3e4c59;">
    <p class="footer_info">ООО «АКТОРИУС»</p> 
    <p class="footer_info">220088, г. Минск, ул. Захарова д.50В,</p> 
    <p class="footer_info">помещение 7М, комната 3-30\2, УНП 192520358 </p>
  </div>
</div>