    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= link_to image_tag('logo.png',class:'logo_header'),root_path %></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav pages">
            <li>
              <%= link_to "ГЛАВНАЯ", root_path, class:"main_links"   %>
            </li>
            <li>
              <%= link_to "УНИВЕРСИТЕТЫ", universities_path, class:"main_links"   %>
            </li>
            <li>
              <%= link_to "НОВОСТИ", all_news_path, class:"main_links" %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to image_tag("feedback.png"), request_path , {class:"feedback",:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></li>
          </ul>

        </div>
      </div>
    </div>